Kaggle
pandas
sqlalchemy
psycopg2-binary
yfinance
pandas_datareader
requests
beautifulsoup4
flask
flask_cors
python-dateutil==2.8.2
notebook
nbconvert
jupyterlab
sudo yum install postgresql15 postgresql15-server -y
